*,
*:before,
*:after {
  box-sizing: border-box;
  position: relative;
}

html,
body {
  margin: 0;
  padding: 0;
}

html,
body,
#root,
.App {
  height: 100%;
  width: 100%;
}

.App {
  background: #303a52;
  color: white;
}
